.containerPagination {
  align-items: center;

  nav {
    ul {
      gap: 20px;
      li {
        button {
          font-family: Poppins;
        }

        // NUMERO
        .MuiPaginationItem-page {
          font-size: clamp(12px, 2dvw, 20px);
          color: var(--colorGrey);
        }

        // NUMERO SELECCIONADO
        .Mui-selected {
          background-color: transparent;
          color: var(--colorBlueDark);
        }

        .Mui-disabled {
          visibility: hidden;
        }

        .MuiPaginationItem-previousNext {
          background-color: var(--colorOrange);
          color: #fff;
          width: 40px;
          height: 40px;
          border-radius: 20px;
        }
      }
    }
  }
}
